.main {
    margin-top: 0;
    overflow: hidden;
}

.container {}

.row {
    position: relative;
}

.row:not(.row--full) {
    padding: 3vw 30px;
}

.logo {
    width: 100px;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  transition: all 0.15s ease 0s;
  text-align: left;
  color: var(--color-white);
  background: var(--color-primary);
  padding: 10px 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  text-transform: uppercase;
  min-width: 50px;
  margin: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .8em;
  line-height: 1em;
}

.btn--outline {
    background: none;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn--outline:hover {
    color: var(--color-blue);
    border-color: var(--color-blue);
}

.btn--link {
    text-decoration: none;
}

.btn--clear {
  box-shadow: none;
  background: none;
  border: none;
  color: var(--color-gray);
  width: 100%;
  text-align: center;
  text-transform: none;
  font-size: 1em;
  padding: 0;
}

.btn--clear:hover {
    color: var(--color-blue);
}

.btn--alert {
    background: var(--color-red);
}

.btn--success {
    background: var(--color-green);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.btn--warn {
    background: var(--color-yellow);
}

.btn--icon {
    box-shadow: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: 800;
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.btn--close {
    background-image: url('../images/close.png');
}

.errors {
    text-align: left;
    padding: 0 0 0 5px;
    margin-top: 10px;
    list-style: none;
}

.shadow {
    border: 1px solid var(--color-gray-lighter);
    box-sizing: border-box;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    background: white;
}

.inline {
  display: inline;
}